################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/uai_shop/.vs/uai_shop/FileContentIndex/2f9bd9f1-ba0e-4d38-9cd8-919865723792.vsidx
